FEED_API_HOST=0.0.0.0
FEED_API_PORT=8000
FEED_API_LOG_LEVEL=INFO
FEED_SOURCE_PATH=/app/feed_module/xml_example/fk-inhome.com.ua.xml
FEED_SUPPLEMENTAL_SOURCE_PATH=/app/feed_module/xml_example/fk-inhome.com.ua=2.xml
