FEED_API_HOST=0.0.0.0
FEED_API_PORT=8000
FEED_API_LOG_LEVEL=INFO
FEED_SOURCE_URL=https://fk-inhome.com.ua/productcatalog/rozetka/?uid=8ecf4c810347463c9439b3af4e7cd6e6&lang=3
FEED_SUPPLEMENTAL_SOURCE_URL=https://fk-inhome.com.ua/productcatalog/prom/?uid=254bde5b79b34ce7ac5f66ad2f63d32c&lang=3
FEED_DOWNLOAD_TIMEOUT=60
